@charset 'utf-8';

/* Reset */
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html, body {width: 100%;}
body {line-height: 1; overflow-y: scroll;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
object {pointer-events: none;}

div, p, th, td, input, select, textarea, button, a, h1, h2, h3, h4, h5, h6, li, dt, dd, span, strong, label, figcaption {font-family: 'nanum-square-r', sans-serif; font-weight: normal;}
a {text-decoration: none}
i {display: inline-block; background-size: cover; background-position: center; background-repeat: no-repeat; vertical-align: middle;}

/* Common */
legend, caption {font-size: 0; overflow: hidden; text-indent: -9999px; width: 0; height: 0; line-height: 0;}
.clear:before, .clear:after {content: ''; display: block; clear: both;}
.blind {display: block; overflow: hidden; position: absolute; left: -9999px; width: 1px; height: 1px; font-size: 0.1em; line-height: 0.01em; text-indent: -9999px;}
input[type="text"]::-ms-clear {display: none;}
/* input[type="text"], input[type="password"], select {border-radius: 0; outline-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0;} */
select {border-radius: 0; outline-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0;}
button, [type="button"], [type="reset"], [type="submit"] {background: none; border-radius: 0; border: 0; padding: 0; margin: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer;}
input[type="file"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
input[type="file"]:focus + label {outline: #666 dotted 1px;}

/* Display */
.d-ib {display: inline-block;}
.d-b {display: block;}
.d-i {display: inline;}
.d-n {display: none;}
.d-f {display: -webkit-box; display: flex;}
 
 
/* Align - Inline */
.a-t {vertical-align: top;}
.a-m {vertical-align: middle;}
.a-b {vertical-align: bottom;}
.a-l {text-align: left !important;}
.a-c {text-align: center !important;}
.a-r {text-align: right !important;}
.a-j {text-align: justify; -webkit-text-align-last: justify; text-align-last: justify;}
 
/* Align - Position */
.p-ct {position: absolute; left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.p-rc {position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.p-cb {position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.p-lc {position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%);transform: translateY(-50%);}
.p-cc {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
 
/* Align - Flexible */
.fd-c {-webkit-flex-direction: column; flex-direction: column;}
.fw-w {-webkit-flex-wrap: wrap; flex-wrap: wrap;}
.jc-fs {-webkit-justify-content: flex-start; justify-content: flex-start;}
.jc-c {-webkit-justify-content: center;justify-content: center;}
.jc-fe {-webkit-justify-content: flex-end; justify-content: flex-end;}
.jc-sa {-webkit-justify-content: space-around; justify-content: space-around;}
.jc-sb {-webkit-justify-content: space-between; justify-content: space-between;}
.jc-se {-webkit-justify-content: space-evenly; justify-content: space-evenly;}
.ai-fs {-webkit-align-items: flex-start; align-items: flex-start;}
.ai-c {-webkit-align-items: center; align-items: center;}
.ai-fe {-webkit-align-items: flex-end; align-items: flex-end;}
.ai-sa {-webkit-align-items: space-around; align-items: space-around;}
.ai-sb {-webkit-align-items: space-between; align-items: space-between;}
.ai-se {-webkit-align-items: space-evenly; align-items: space-evenly;}
 
/* Margin */
.mt-0 {margin-top: 0px;}
.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mt-60 {margin-top: 60px;}
.mt-70 {margin-top: 70px;}
.mt-80 {margin-top: 80px;}
.mt-90 {margin-top: 90px;}
.mt-100 {margin-top: 100px;}
 
.mb-0 {margin-bottom: 0px;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.mb-60 {margin-bottom: 60px;}
.mb-70 {margin-bottom: 70px;}
.mb-80 {margin-bottom: 80px;}
.mb-90 {margin-bottom: 90px;}
.mb-100 {margin-bottom: 100px;}
 
.ml-0 {margin-left: 0px;}
.ml-5 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.ml-60 {margin-left: 60px;}
.ml-70 {margin-left: 70px;}
.ml-80 {margin-left: 80px;}
.ml-90 {margin-left: 90px;}
.ml-100 {margin-left: 100px;}
 
.mr-0 {margin-right: 0px;}
.mr-5 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}
.mr-60 {margin-right: 60px;}
.mr-70 {margin-right: 70px;}
.mr-80 {margin-right: 80px;}
.mr-90 {margin-right: 90px;}
.mr-100 {margin-right: 100px;}
 
/* Padding */
.pt-0 {padding-top: 0px;}
.pt-5 {padding-top: 5px;}
.pt-10 {padding-top: 10px;}
.pt-20 {padding-top: 20px;}
.pt-30 {padding-top: 30px;}
.pt-40 {padding-top: 40px;}
.pt-50 {padding-top: 50px;}
.pt-60 {padding-top: 60px;}
.pt-70 {padding-top: 70px;}
.pt-80 {padding-top: 80px;}
.pt-90 {padding-top: 90px;}
.pt-100 {padding-top: 100px;}
 
.pb-0 {padding-bottom: 0px;}
.pb-5 {padding-bottom: 5px;}
.pb-10 {padding-bottom: 10px;}
.pb-20 {padding-bottom: 20px;}
.pb-30 {padding-bottom: 30px;}
.pb-40 {padding-bottom: 40px;}
.pb-50 {padding-bottom: 50px;}
.pb-60 {padding-bottom: 60px;}
.pb-70 {padding-bottom: 70px;}
.pb-80 {padding-bottom: 80px;}
.pb-90 {padding-bottom: 90px;}
.pb-100 {padding-bottom: 100px;}
 
.pl-0 {padding-left: 0px;}
.pl-5 {padding-left: 5px;}
.pl-10 {padding-left: 10px;}
.pl-20 {padding-left: 20px;}
.pl-30 {padding-left: 30px;}
.pl-40 {padding-left: 40px;}
.pl-50 {padding-left: 50px;}
.pl-60 {padding-left: 60px;}
.pl-70 {padding-left: 70px;}
.pl-80 {padding-left: 80px;}
.pl-90 {padding-left: 90px;}
.pl-100 {padding-left: 100px;}
 
.pr-0 {padding-right: 0px;}
.pr-5 {padding-right: 5px;}
.pr-10 {padding-right: 10px;}
.pr-20 {padding-right: 20px;}
.pr-30 {padding-right: 30px;}
.pr-40 {padding-right: 40px;}
.pr-50 {padding-right: 50px;}
.pr-60 {padding-right: 60px;}
.pr-70 {padding-right: 70px;}
.pr-80 {padding-right: 80px;}
.pr-90 {padding-right: 90px;}
.pr-100 {padding-right: 100px;}
 
/* Width */
.w-auto {width: auto;}
.w-full {width: 100%;}
.w-screen {width: 100vw;}

.w-5 {width: 5%;}
.w-7 {width: 7%;}
.w-10 {width: 10%;}
.w-13 {width: 13%;}
.w-15 {width: 15%;}
.w-20 {width: 20%;}
.w-25 {width: 25%;}
.w-30 {width: 30%;}
.w-35 {width: 35%;}
.w-40 {width: 40%;}
.w-45 {width: 45%;}
.w-50 {width: 50%;}
.w-55 {width: 55%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.w-90 {width: 90%;}
.w-100 {width: 100%;}

.wf-60 {width: 60px;}
.wf-80 {width: 80px;}
.wf-100 {width: 100px;}
.wf-150 {width: 130px;}
 
/* Height */
.h-auto {height: auto;}
.h-full {height: 100%;}
.h-screen {height: 100vh;}

.h-half {min-height: 80px;}

/* Font-size, Font-color */
.fs-12 {font-size: 0.725em}
.fc-default {color: #424242;}

/* column */
.column-2 > * {width: calc(50% - 0.5em);}
.column-3 > * {width: calc(33.34% - 0.5em);}
.column-4 > * {width: calc(25% - 0.5em);}

@media only screen and (max-width: 1024px) {
	.column-2, .column-3, .column-4 {-webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-between; justify-content: space-between;}
	.column-2 > * {width: 100%;}
	.column-4 > * {width: calc(50% - 0.5em); margin-right: 0 !important; margin-bottom: 1em;}
}